<div class="combo">
  <div class="big-button big-button-left" style="z-index: 1">
    <div class="big-button-text">
      Field Star Removal
    </div>
  </div>
  <div class="big-button big-button-right" style="z-index: 2">
    <div class="big-button-text">
      Isochrone Fitting
    </div>
  </div>
  <div class="arrow top-arrow"></div>
  <div class="arrow bottom-arrow"></div>
</div>


<div class="row tool-container">
  <div class="row" style="display: flex; z-index: 0">
    <div class="col-6 block-1">
      <div class="ordering top left"
           style="border-bottom-right-radius: 68.5%">1
      </div>
      <div class="prompt top-p left-p">
        Cluster Astromancer Data Fetching is limited to 50,000 data points. Prior to Field Star Removal (FSR), we start
        by limiting the search radius around the cluster center when adding the initial data source.
      </div>
    </div>
    <div class="col-6 block-2">
      <div class="ordering top right"
           style="border-bottom-left-radius: 68.5%">2
      </div>
      <div class="prompt top-p right-p">
        Go back and forth between this page and FSR as much as you want, updating your data set and setting constraints
        to find the limits of proper motion and distance that capture all cluster stars!
        When are are happy with your data set. Move on to isochrone fitting.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 block-4">
      <div class="ordering bottom left"
           style="border-top-right-radius: 68.5%">4
      </div>
      <div class="prompt bottom-p left-p">
        To complete your analysis, click the button to load multi-band archival photometry from the cluster’s full
        radius, from within the proper motion and distance limits you’ve set in FSR.
      </div>
    </div>
    <div class="col-6 block-3">
      <div class="ordering bottom right"
           style="border-top-left-radius: 68.5%">3
      </div>
      <div class="prompt bottom-p right-p">
        Setting loose FSR constraints based on the initial data source lets us increase radius later on, and we pull in
        all co-moving stars at the cluster’s distance within that larger radius.
      </div>
    </div>
  </div>
</div>
