<div class="form-pop-container">
<form [formGroup]="formGroup">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControlName]="'chartTitle'" matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input [formControlName]="'dataLabel'" matInput
               placeholder="Labels for different sources are separated by comma.">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input [formControlName]="'xAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input [formControlName]="'yAxisLabel'" matInput>
      </mat-form-field>
    </div>
  </div>
</form>
  <div class="button-container">
    <button [mat-dialog-close]="'OK'" mat-raised-button>OK</button>
    <button (click)="resetLabels()" [color]="'warn'" mat-raised-button>Reset Graph Labels</button>
    <button [color]="'primary'" [mat-dialog-close]="'saveGraph'" mat-raised-button>Save Graph</button>
  </div>
</div>
