<div class="container">
  <form [formGroup]="formGroup" class="row">
    <div class="row input-container">
      <mat-form-field>
        <mat-label i18n>Select Pulsar Star</mat-label>
        <mat-select [formControlName]="'pulsarStar'">
          <mat-option *ngFor="let star of pulsarStarKeys" [value]="star">
            {{star}}
          </mat-option>
        </mat-select>
        <mat-error>Please a pulsar star to proceed</mat-error>
      </mat-form-field>
    </div>
    <div class="row input-container">
      <mat-form-field>
        <mat-label>Reference Star Actual Magnitude</mat-label>
        <input [formControlName]="'refStarMag'" [step]="0.1" matInput type="number">
        <mat-error>Magnitude is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
