<form [formGroup]="formGroup" class="pulsar-form-horizontal">
  <div class="row">
    <div class="col-12">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControlName]="'chartTitle'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input [formControlName]="'xAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input [formControlName]="'yAxisLabel'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>{{ startPeriodLabel }}</mat-label>
        <input [formControlName]="'startPeriod'" matInput step="0.1" type="number">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>{{ endPeriodLabel }}</mat-label>
        <input [formControlName]="'endPeriod'" matInput step="0.1" type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Points</mat-label>
        <input [formControlName]="'numPoints'" matInput step="1" type="number">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label i18n>Period Shown</mat-label>
        <mat-select [formControlName]="'methodLS'">
          <mat-option [value]="false">Period</mat-option>
          <mat-option [value]="true">Frequency</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button (click)="saveGraph()" mat-raised-button>Save Graph</button>
    </div>
    <div class="col-6">
      <button (click)="resetForm()" mat-raised-button>Reset Form</button>
    </div>
  </div>
</form>

<form [formGroup]="formGroup" class="pulsar-form-vertical">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControlName]="'chartTitle'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input [formControlName]="'xAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input [formControlName]="'yAxisLabel'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>{{ startPeriodLabel }}</mat-label>
        <input [formControlName]="'startPeriod'" matInput step="0.1" type="number">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>{{ endPeriodLabel }}</mat-label>
        <input [formControlName]="'endPeriod'" matInput step="0.1" type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button (click)="saveGraph()" mat-raised-button>Save Graph</button>
    </div>
    <div class="col-6">
      <button (click)="resetForm()" mat-raised-button>Reset Form</button>
    </div>
  </div>
</form>
