<mat-tab-group (selectedIndexChange)="onTabChange($event)"
               [selectedIndex]="variableTabindex"
               animationDuration="750" dynamicHeight mat-align-tabs="center" mat-stretch-tabs="false">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>table_chart</mat-icon>
      Light Curve
    </ng-template>
    <app-variable-light-curve></app-variable-light-curve>
  </mat-tab>
  <mat-tab [disabled]="!lightCurveFormValid">
    <ng-template mat-tab-label>
      <mat-icon>scatter_plot</mat-icon>
      Periodogram
    </ng-template>
    <app-variable-periodogram></app-variable-periodogram>
  </mat-tab>
  <mat-tab [disabled]="!lightCurveFormValid">
    <ng-template mat-tab-label>
      <mat-icon>unfold_less</mat-icon>
      Period Folding
    </ng-template>
    swaggness
  </mat-tab>
</mat-tab-group>
