
mat-icon {
  margin-right: 5px;
}

mat-tab-group {
  height: 100%;
}

mat-tab-group {
  box-shadow: none !important;
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}
