<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>table_chart</mat-icon>
      Light Curve
    </ng-template>
    swag
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>scatter_plot</mat-icon>
      Periodogram
    </ng-template>
    swagger
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>unfold_less</mat-icon>
      Period Folding
    </ng-template>
    swaggness
  </mat-tab>
</mat-tab-group>
