<!-- <div class="container">
    Background Scale Textbox 
    <div class="row mt-3">
        <div class="col-12">
            <mat-form-field appearance="fill">
                <mat-label>Background Scale</mat-label>
                <input matInput type="number" step="0.1" name="backgroundScale" [(ngModel)]="dt" (ngModelChange)="onBackgroundScaleChange($event)">
            </mat-form-field>
        </div>
    </div>

    
    <div class="row mt-3">
        <div class="col-12">
            <table mat-table [dataSource]="dataSource" matSort>
               
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                </ng-container>
                <ng-container matColumnDef="chan1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Channel 1 </th>
                    <td mat-cell *matCellDef="let element"> {{element.chan1}} </td>
                </ng-container>
                <ng-container matColumnDef="chan2">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Channel 2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.chan2}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <button mat-raised-button color="primary" (click)="uploadDataFile()" type="button">Upload Data File</button>
            <input type="file" id="file-upload" #fileInput (change)="onFileSelected($event)" style="display: none;">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <div class="graph-container justify-content-right " style="border: 1px solid #ccc; width: 200px; height: 400px;">
            </div>
        </div>
    </div>
     X and Y Axis Textboxes
    <div class="row mt-3">
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>X Axis</mat-label>
                <input matInput type="text" name="xAxis" [(ngModel)]="xAxis">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="fill">
                <mat-label>Y Axis</mat-label>
                <input matInput type="text" name="yAxis" [(ngModel)]="yAxis">
            </mat-form-field>
        </div>
    </div>

     Graph Control Buttons 
    <div class="row mt-3">
        <div class="col-12">
            <button mat-raised-button color="primary" (click)="saveGraph()" type="button">Save Graph</button>
            <button mat-raised-button color="primary" (click)="panLeft()" type="button">Pan Left</button>
            <button mat-raised-button color="primary" (click)="panRight()" type="button">Pan Right</button>
            <button mat-raised-button color="primary" (click)="zoomIn()" type="button">Zoom In</button>
            <button mat-raised-button color="primary" (click)="zoomOut()" type="button">Zoom Out</button>
            <button mat-raised-button color="warn" (click)="resetGraph()" type="button">Reset to Original State</button>
        </div>
    </div>
</div>
-->