<div class="container">
  <hot-table #table
             [allowInsertColumn]="false"
             [allowInsertRow]="true"
             [colHeaders]="colNames"
             [contextMenu]="[
      'undo',
      'redo',
      'copy',
      '---------',
      'row_above',
      'row_below',
      '---------',
      'remove_row']"
             [data]="dataSet"
             [hiddenColumns]="true"
             [hotId]="id"
             [preventOverflow]="'horizontal'"
             [renderAllRows]="false"
             [rowHeaders]="true"
             [stretchH]="'all'"
             [type]="'numeric'"
             licenseKey="non-commercial-and-evaluation">
  </hot-table>
</div>

