.container-row {
  height: 80%;
  padding: 20px 100px 20px 100px;
  width: 100%;
}

.col-4, .col-8 {
  display: flex;
  flex-flow: column;
}

.data-form-row, data-button-row, chart-form-row, chart-button-row {
  height: fit-content;
  flex: 0 1 auto;
}

.data-table-row, .chart-row {
  flex: 1 1 auto;
}

.data-table-row {
  padding-bottom: 15px;
}
