<div class="container">
  <div class="row">
    <div class="col-8">
      <form class="h-fit">
        <mat-form-field appearance="fill">
          <mat-label i18n>Number of Curves</mat-label>
          <mat-select #selector (ngModelChange)="onCurveNumChange(selector.value)" [(ngModel)]="selectedValue"
                      name="curves">
            <mat-option *ngFor="let count of curveCounts; index as i" [value]="count.value">
              {{count.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div class="col-4">
      <mat-button-toggle i18n #button (change)="onMagnitude(button.checked)">Magnitudes</mat-button-toggle>
    </div>
  </div>
</div>

