<div class="row">
  <div class="col-8">
    <form #curveCountForm>
      <mat-form-field appearance="fill">
        <mat-label>Number of Curves</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          <mat-option *ngFor="let count of curveCounts; index as i" [value]="count.value">
            {{count.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="col-4">
    <mat-button-toggle>Magnitudes</mat-button-toggle>
  </div>
</div>

