<div class="container">
  <my-input-slider (value)="onChange($event)" [defaultValue]="0"
                   [label]="'Distance (kpc)'" [maxValue]="20" [minValue]="0"
                   [name]="'distance'" [numOverride]="true"
                   [stepValue]="0.01" [value$]="distanceSubject"
  ></my-input-slider>
  <my-input-slider (value)="onChange($event)" [defaultValue]="10"
                   [label]="'Diameter (kpc)'" [maxValue]="50" [minValue]="0"
                   [name]="'diameter'" [numOverride]="true"
                   [stepValue]="0.01" [value$]="diameterSubject"
  ></my-input-slider>
</div>
