<div class="page-container">
  <div class="left-container-wrapper" #fileDropZone (dragover)="onDragOver($event)">
    <!-- Upload Container -->
    <div class="left-container" *ngIf="!fitsLoaded">
      <div class="prompt-container">
        <div class="row drop-zone" clusterDragNDrop>
          <div (click)="fileInput.click()" class="click-zone">
            <h3 class="big-title">Drop to Upload</h3>
            <mat-icon class="big-icon">upload</mat-icon>
            <h6>or</h6>
            <h4>Click to Browse</h4>
          </div>
        </div>
      </div>
      <input #fileInput (change)="onFileSelected($event)" style="display: none" type="file">
    </div>

    <!-- Canvas Container (shown after file upload) -->
    <div class="left-container">
      <canvas #fitsCanvas [ngStyle]="{'opacity': ra ? 1 : 0}" id="fitsCanvas"></canvas>
      <div class="coordinates" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <span *ngIf="currentCoordinates">
          RA: {{currentCoordinates.ra.toFixed(4)}}, Dec: {{currentCoordinates.dec.toFixed(4)}}
        </span>
      </div>
    </div>

    <!-- Slider Controls Below the Canvas -->
    <div class="controls" *ngIf="ra">
      <label for="xOffset">RA Offset: </label>
      <input id="xOffset" type="range" min="-100" max="100" [(ngModel)]="xOffset" (input)="redrawCircles()">
      <label for="yOffset">Dec Offset: </label>
      <input id="yOffset" type="range" min="-100" max="100" [(ngModel)]="yOffset" (input)="redrawCircles()">
    </div>
  </div>

  <!-- Right container for displaying the table -->
  <div class="right-container">
    <div class="mat-elevation-z8">
      <div class="table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> 3C# </th>
            <td mat-cell *matCellDef="let element">
              <a [href]="'https://vizier.cds.unistra.fr/viz-bin/VizieR-5?-ref=VIZ6684740f2d87a&-out.add=.&-source=VIII/1A/3c&recno=' + element.threeC" target="_blank">{{ element.threeC}}</a>
            </td>
          </ng-container>

          <!-- RA Column -->
          <ng-container matColumnDef="ra">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> RA </th>
            <td mat-cell *matCellDef="let element"> {{element.ra}} </td>
          </ng-container>

          <!-- Dec Column -->
          <ng-container matColumnDef="dec">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Dec </th>
            <td mat-cell *matCellDef="let element"> {{element.dec}} </td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

          <!-- Data Rows (use ngClass to apply alternating colors) -->
          <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;"
              (click)="onRowClicked(row)"
              [ngClass]="{
                'even-row': i % 2 === 0,
                'odd-row': i % 2 !== 0
              }">
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Bottom Left Information Display -->
  <div class="bottom-left-info" *ngIf="selectedSource">
    <h4>Source Details</h4>
    <p><strong>Name:</strong> {{selectedSource.name}}</p>
    <p><strong>38 MHz:</strong> {{selectedSource.MHz38}}</p>
    <p><strong>159 MHz:</strong> {{selectedSource.MHz159}}</p>
    <p><strong>178 MHz:</strong> {{selectedSource.MHz178}}</p>
    <p><strong>750 MHz:</strong> {{selectedSource.MHz750}}</p>
    <p><strong>1400 MHz (L):</strong> {{selectedSource.L1400}}</p>
    <p><strong>2695 MHz (S):</strong> {{selectedSource.S2695}}</p>
    <p><strong>5000 MHz (C):</strong> {{selectedSource.C5000}}</p>
    <p><strong>8400 MHz (X):</strong> {{selectedSource.X8400}}</p>
    <!-- Add more details if necessary -->
  </div>
</div>
