<form title="Radio" id="radio-form" style="padding-bottom: .5em">
    <div class="container-row">
        <div class="row">
            <!-- First Column -->
            <div class="col-6" [formGroup]="formGroup">
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Source</mat-label>
                        <mat-select [formControlName]="'source'">
                            <mat-option *ngFor="let count of sources" [value]="count">
                                {{ count }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Start Frequency (MHz)</mat-label>
                        <input matInput type="number" step="1" [formControlName]="'startFreq'">
                    </mat-form-field>
                </div>
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Stop Frequency (MHz)</mat-label>
                        <input matInput type="number" step="1" [formControlName]="'stopFreq'">
                    </mat-form-field>
                </div>
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Date (Years)</mat-label>
                        <input matInput type="number" step="0.001" min="2000" formControlName="year">
                    </mat-form-field>
                </div>
                <div class="row entry">
                    <button class="input-button" mat-raised-button color="primary" (click)="fitsUpload()"
                            id="fits-upload-button"
                            type="button">Upload Fits File
                        <input type="file" id="fits-upload" #fileInput (change)="onFileSelected($event)"
                               style="display: none;">
                    </button>
                </div>
                <div class="row entry">
                    <a style="color: grey;" target="_blank" href="https://arxiv.org/abs/1704.00002">
                        Trotter, A. S, Reichart, D. E., Egger, R. E., et al. 1997, MNRAS, 469, 1299
                    </a>
                </div>
            </div>
            <!-- Second Column -->
            <div class="col-6">
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Flux Density (Jy)</mat-label>
                        <input matInput type="string" step="0.001" min="10" max="100000" name="fluxDensity"
                               [(ngModel)]="fluxDensity" readonly>
                    </mat-form-field>
                </div>
                <div class="row entry">
                    <mat-form-field appearance="fill">
                        <mat-label>Effective Frequency</mat-label>
                        <input matInput type="string" step="0.001" min="10" max="100000" name="effectiveFrequency"
                               [(ngModel)]="effectiveFrequency" readonly>
                    </mat-form-field>
                </div>
            </div>
        </div>

    </div>
</form>