$control-panel-width: 420px;

.tool-container {
  overflow: hidden;
}

.isochrone-control {
  display: flex;
  flex-direction: column;
  width: $control-panel-width;
  height: 100%;
  overflow: scroll;
  padding: 0 10px 0 0;
}

.cmd-hrd-section {
  width: calc(100% - $control-panel-width);
  padding: 0 0 0 10px;
}
