$control-panel-width: 420px;

.isochrone-control {
  display: flex;
  flex-direction: column;
  width: $control-panel-width;
  height: min-content;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px 0 0;
}

.cmd-hrd-section {
  width: calc(100% - $control-panel-width);
  padding: 0 0 0 10px;
}
