<mat-sidenav-container (backdropClick)="close()" class="tool-sidenav-container">
  <mat-sidenav #toolsnav (keydown.escape)="close()">
    <p class="tool-sidenav-p">
      <button (click)="close()" [routerLink]="['/curve']" mat-button>Curve</button>
    </p>
    <p class="tool-sidenav-p">
      <button (click)="close()" mat-button>Moon</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menubar [navbar]="this"></app-menubar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
