
.result-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.result-drawer {
  padding: 20px;
}

.result-content {
  display: flex;
  height: 100%;
  align-content: center;
  justify-content: center;
}
