
.result-container {
  height: 100%;
  width: 100%;
}

.result-drawer {
  padding: 20px;
}

.result-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 20px;
  overflow: hidden;
}

.real-scrollable-content {
  display: flex;
  width: 100%;
  overflow-y: auto;
}

.result-tool-bar {
  display: flex;
  width: 100%;
  height: min-content;
  justify-content: center;
  padding: 10px 0;

  button {
    width: 180px;
    margin: 0 10px;
  }
}

