
.combo-container {
  display: flex;
  width: 100%;
  height: min-content;
  flex-direction: column;
}

.title {
  width: 250px;
  margin: 0;
  display: inline;
  align-self: baseline;
}

.component {
  display: inline-block;
  padding: 0;
  align-self: baseline;
}

.data-slider {
  width: calc(100% - 7px);
}

.histogram-slider {
  width: calc(100% - 20px);
}

mat-form-field {
  width: 100%;
}

h4 {
  margin: 0;
  padding: 0;
}

.histogram-container {
  height: 250px;
  width: 100%;
}

.histogram-control-container {
  height: min-content;
  width: 100%;
}

:host ::ng-deep.highcharts-area {
  fill: grey !important;
  stroke: grey !important;
}
