<div class="row tool-container">
  <div class="col-4">
    <div class="row dynamic">
      <app-venus-table></app-venus-table>
    </div>
    <div class="row button-row">
      <app-simple-data-button (tableUserActionObs$)="actionHandler($event)">
      </app-simple-data-button>
    </div>
  </div>
  <div class="col-8">
    <div class="row dynamic">
      <app-venus-highchart></app-venus-highchart>
    </div>
    <div class="row button-row">
      <app-simple-graph-button (chartUserActionObs$)="actionHandler($event)" [isEditChartInfo]="true">
      </app-simple-graph-button>
    </div>
  </div>
</div>
