<div class="row periodogram tool-container">
  <div class="col-3">
    <div class="row">
      <app-variable-periodogram-form></app-variable-periodogram-form>
    </div>
  </div>
  <div class="col-9">
    <div class="row dynamic">
      <app-variable-periodogram-highcharts
        *ngIf="(chartType$ | async) === ChartType.HIGHCHARTS"></app-variable-periodogram-highcharts>
      <app-variable-periodogram-echart
        *ngIf="(chartType$ | async) === ChartType.ECHARTS"></app-variable-periodogram-echart>
    </div>
  </div>
</div>