.input-container {
  width: 100%;
  height: min-content;
  margin: 0;
  padding: 0 5px;
  overflow-x: hidden;
}

my-input-slider {
  display: block;
  margin-bottom: 10px;
}

.input-container my-input-slider:last-child {
  margin-bottom: 0;
}
