<div class="input-container">
    <my-input-slider [defaultValue]="defaultDistance" [hintText]="'default value is from FSR'"
                     [isLog]="true" [label]="'Distance (kpc)'" [maxValue]="100"
                     [minValue]="0.1"></my-input-slider>
    <my-input-slider [defaultValue]="735"
                     [isLog]="true" [label]="'Age (billion yrs)'" [maxValue]="26900" [minValue]="735"></my-input-slider>
    <my-input-slider [defaultValue]="-2.2"
                     [label]="'Metallicity (solar)'" [maxValue]="0.7" [minValue]="-2.2"></my-input-slider>
    <my-input-slider [defaultValue]="0"
                     [label]="'E(B-V)'" [maxValue]="1" [minValue]="0"></my-input-slider>
    <my-input-slider [defaultValue]="0"
                     [label]="'Max Error (mag)'" [maxValue]="1" [minValue]="0"></my-input-slider>
</div>
