@import "src/styles.scss";

h1 {
  font-weight: bolder;
}

.look-up-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.search {
  flex-direction: column;
  justify-content: center;
}

.results-list, .results-header {
  margin: 0px 40px 0 40px;
  display: inline;
  width: 100%;
  text-align: left;
}

.search-form {
  margin: 0px 40px 0 40px;
  display: inline;
  width: 100%;
}

.results-list {
  overflow-y: scroll;
  height: 500px;
}

h2 {
  font-style: italic;
  width: 100%;
}

h3 {
  display: inline;
}

.LIGHT_THEME {
  :host h5 {
    color: map_get($light-primary, 300);
  }

  :host a {
    color: map_get($light-primary, 400);
  }
}

.DARK_THEME {
  :host h5 {
    color: map_get($dark-primary, 300);
  }

  :host a {
    color: map_get($dark-primary, 400);
  }
}

mat-list, form {
  width: 100%;
}

mat-list-item {
  padding: 0;
}

.result, .list-name, .column-header, .button-block, .detector, .date-label {
  flex-direction: column;
  height: min-content;
  display: inline-block;
  width: 30%;
  overflow-x: clip;
  margin-right: 0px;
  margin-left: 0px;
}

.button-block {
  width: 40%;
}

.detector {
  margin: 3px;
  max-width: 30%;
  min-width: 10%;
  flex: 1, 0, auto;
}

.list-name {
  font-weight: bolder;
  font-size: larger;
}

.column-header {
  justify-content: flex-start;
}

.date-label {
  margin: 3px;
  width:20%
}
