<div class="look-up-container" xmlns="http://www.w3.org/1999/html">
  <div class="row center-content">
    <h1>Look Up a Cluster</h1>
  </div>
  <div class="row center-content">
    <form (submit)="submit()" [formGroup]="lookUpFrom">
      <mat-form-field class="search-bar">
        <input formControlName="name" matInput placeholder="NGC, Messier, or MWSC Catalog Number" type="text">
        <button (click)="lookUpFrom.controls['name'].setValue('')" *ngIf="lookUpFrom.controls['name'].value"
                aria-label="clear" mat-icon-button
                matSuffix type="button">
          <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="lookUpFrom.controls['name'].value" aria-label="look up" color="warn" mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="row center-content">
    <h3><i>or</i></h3>
  </div>
  <div class="row center-content">
    <button (click)="typeCoordinates()" class="coordinates" color="primary" mat-flat-button>Type in Coordinates</button>
  </div>
  <div class="row">
    <div class="recent-searches">
      <h2>Recent Searches:</h2>
      <mat-list *ngFor="let lookup of recentLookUpsStack.list(); last as last">
        <mat-list-item>
          <div class="list-name">{{lookup.name}}</div>
          &emsp; <i>RA:</i> {{lookup.ra.toFixed(2)}}
          &emsp; <i>Dec:</i> {{lookup.dec.toFixed(2)}}
          &emsp; <i>Radius:</i> {{lookup.radius.toFixed(2)}}
          <button aria-label="search" class="recent-search" mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list>
    </div>
  </div>
</div>
