<div (cdkDropListDropped)="drop($event)" [hidden]="plotConfigs.length === 0" cdkDropList class="plot-list-container">
    <div *ngFor="let plotConfig of plotConfigs; index as i" cdkDrag cdkDragLockAxis="y" class="plot-list-entry">
        <mat-icon cdkDragHandle class="drag-icon">menu</mat-icon>
        <div class="filter-information">
            {{plotConfig.filters.blue.replace("prime", "\'")}}
            - {{plotConfig.filters.red.replace("prime", "\'")}}
            vs {{plotConfig.filters.lum.replace("prime", "\'")}}</div>
        <mat-button-toggle-group [value]="plotConfig.plotType"
                                 aria-label="Plot Type" name="plotType">
            <mat-button-toggle (change)="typeToggle($event.value, i)" *ngFor="let plotType of plotTypes"
                               [value]="plotType">{{plotType}}</mat-button-toggle>
        </mat-button-toggle-group>
        <button (click)="remove(i)" aria-label="Delete Plot" color="warn" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
