.error-container {
  padding: 20px;
}

button {
  margin: 40px;
  width: calc(100% - 80px);
}

@media screen and (min-width: 900px) {
  .cluster-data-source-pop-up {
    width: 500px;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .cluster-data-source-pop-up {
    width: 80vw;
    flex-direction: row;
  }
}

.cluster-data-source-pop-ups-card {
  margin: 0px !important;
  width: 100% !important;
  height: min-content !important;
}
