.light-curve-container {
  height: 100% !important;
}

.custom-upload-button {
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons appear side by side */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  transition-duration: 0.4s; /* Make the transition smooth */
  cursor: pointer; /* Pointer/hand icon */
}


.custom-add-row-button {
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the buttons appear side by side */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  transition-duration: 0.4s; /* Make the transition smooth */
  cursor: pointer; /* Pointer/hand icon */
}
