<div class="row light-curve-container tool-container">
  <div class="col-4">
    <div class="row">
      <app-pulsar-light-curve-form></app-pulsar-light-curve-form>
    </div>
    <div class="row dynamic">
      <app-pulsar-table></app-pulsar-table>
    </div>
    <div class="row button-row">
      <app-simple-data-button class="custom-button" (fileUpload$)="uploadHandler($event)"
                              (tableUserActionObs$)="actionHandler($event)"
                              [isDataRandom]="false" [isUploadData]="true">
      </app-simple-data-button>
    </div>
  </div>
  <div class="col-8">
    <div class="row dynamic">
      <app-pulsar-light-curve-highchart></app-pulsar-light-curve-highchart>
    </div>
    <div class="row button-row">
      <app-simple-graph-button class="custom-button" (chartUserActionObs$)="actionHandler($event)" [isEditChartInfo]="true">
      </app-simple-graph-button>
    </div>
  </div>
</div>