<div class="row tool-container">
  <div class="col-4">
    <div class="row">
      <app-galaxy-form></app-galaxy-form>
    </div>
    <div class="row dynamic">
      <app-galaxy-table></app-galaxy-table>
    </div>
    <div class="row button-row">
      <app-simple-data-button (fileUpload$)="uploadHandler($event)"
                              (tableUserActionObs$)="actionHandler($event)"
                              [isDataRandom]="true" [isUploadData]="true">
      </app-simple-data-button>
    </div>
  </div>
  <div class="col-8">
    <div class="row dynamic">
      <app-galaxy-highchart></app-galaxy-highchart>
    </div>
    <div class="row button-row">
      <!--      <div class="col-6">-->
      <app-simple-graph-button (chartUserActionObs$)="actionHandler($event)" [isEditChartInfo]="true">
      </app-simple-graph-button>
      <!--      </div>-->
      <!--      <div class="col-6">Click and drag to zoom. Hold down the shift key to drag and pan.</div>-->
    </div>
  </div>
</div>
