<div class="cluster-data-source-pop-up">
  <mat-card class="cluster-data-source-pop-ups-card">
    <mat-card-header>
      <mat-card-subtitle>{{data.source}}</mat-card-subtitle>
      <mat-card-title>Source Data Overview</mat-card-title>
    </mat-card-header>

    <mat-card-content [hidden]="hasFSR || loadGaia">
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Cluster Name</mat-label>
            <input [(ngModel)]="clusterName" matInput type="text">
            <button (click)="clusterName=''" *ngIf="clusterName" aria-label="Clear" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-6">
          <p>
            <strong>Filters</strong>: {{data.filters.join(", ")}}
            <br>
            <strong>Number of Stars</strong>: {{data.starCounts}}
          </p>
        </div>
      </div>
    </mat-card-content>

    <div [hidden]="hasFSR || !loadGaia">
      <mat-card-content>
        <div class="in-progress-container">
          <h4><i>{{gaia_text}}</i></h4>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar [mode]=progress_mode [value]=progress_value></mat-progress-bar>
      </mat-card-footer>
    </div>

    <mat-card-content [hidden]="!hasFSR">
      <div class="row">
        <div class="col-6">
          <p>
            <strong>Cluster</strong>: {{clusterName}}
            <br>
            <strong>Filters</strong>: {{data.filters.join(", ")}}
          </p>
        </div>
        <div class="col-6">
          <p>
            <strong>Number of Stars</strong>: {{data.starCounts}}
            <br>
            <strong>Number of Matched Stars</strong>: {{fsr_count}}
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <button (click)="cancel()" mat-button mat-dialog-close>Cancel</button>
      <button (click)="next()" [disabled]="clusterName === ''||loadGaia" mat-button>Next</button>
    </mat-card-actions>
  </mat-card>
</div>
