<div class="page-container">
  <!-- Left container wrapper -->
  <div class="left-container-wrapper" #fileDropZone 
  (dragover)="onDragOver($event)"
  (dragenter)="onDragEnter()"
  (dragleave)="onDragLeave()"
  (drop)="onFileDrop($event)">
    <!-- Upload Container -->
    <div class="left-container" *ngIf="!fitsLoaded">
      <div class="prompt-container">
        <div class="row drop-zone" clusterDragNDrop>
          <div (click)="fileInput.click()" class="click-zone">
            <h3 class="big-title">Drop to Upload</h3>
            <mat-icon class="big-icon">upload</mat-icon>
            <h6>or</h6>
            <h4>Click to Browse</h4>
          </div>
        </div>
      </div>
      <input #fileInput (change)="onFileSelected($event)" style="display: none" type="file">
    </div>

    <!-- Canvas Container with Coordinates and Download Button -->
    <div class="left-container">
      <canvas #fitsCanvas [ngStyle]="{'opacity': ra ? 1 : 0}" id="fitsCanvas"></canvas>

      <div class="ra-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="xOffset">
          {{ rccords === 'equatorial' ? 'RA Offset' : 'GalLong Offset' }}: {{ sliderXOffset }}°
        </label>
        <input id="xOffset" type="range" 
               min="-3" max="3" step="0.1" [(ngModel)]="sliderXOffset" 
               (input)="updateFitsImage()">
      </div>
      
      <div class="dec-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="yOffset">
          {{ rccords === 'equatorial' ? 'Dec Offset' : 'GalLat Offset' }}: {{ sliderYOffset }}°
        </label>
        <input id="yOffset" type="range" 
               min="-3" max="3" step="0.1" [(ngModel)]="sliderYOffset" 
               (input)="updateFitsImage()">
      </div>
      
      <div class="max-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="maxValue">Scale: {{ 200 * maxValue | number:'1.0-0' }}%</label>
        <input id="maxValue" type="range" 
               min="0" max="1" step="0.05" [(ngModel)]="maxValue" 
               (input)="updateFitsImage()">
      </div>

      <div class="zoom-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="zoom">Zoom: {{ zoomLevel | number:'1.0-0' }}%</label>
        <input id="zoom" type="range" 
               min="10" max="100" [(ngModel)]="zoomLevel" 
               (input)="updateFitsImage()">
      </div>

      <!-- Coordinates Display -->
      <div class="coordinates" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <span *ngIf="currentCoordinates && rccords" [innerHTML]="convertCoordinates(currentCoordinates.ra, currentCoordinates.dec, rccords)">
        </span>
      </div>
      
      <!-- Download Button Display -->
      <div class="download-button-container" [ngStyle]="{'opacity': fitsLoaded ? 1 : 0}">
        <button (click)="saveCanvas()">Download</button>
      </div>

      <div class="delete-button-container" [ngStyle]="{'opacity': fitsLoaded ? 1 : 0}">
        <button (click)="deleteFITS()">Delete</button>
      </div>

      <div class="query-button-container">
        <span *ngIf="selectedCoordinates && rccords" 
              [innerHTML]="convertCoordinates(selectedCoordinates.ra, selectedCoordinates.dec, rccords, false)">
        </span>
        <button 
          (click)="fitsLoaded ? querySIMBAD() : noUpload()" 
          color="'primary'" 
          style="border-radius: 3px; margin-left: 10px;" 
          mat-raised-button>
          Query
        </button>
      </div>
      
      <div class="new-fits-button-container">
        <button 
          (click)="fitsLoaded ? saveModifiedFITS() : noUpload()" 
          color="'primary'" 
          style="border-radius: 3px; margin-left: 10px;" 
          mat-raised-button>
          Save FITS
        </button>
      </div>         
    </div>
  </div>

  <!-- Right container for highchart -->
  <div class="right-container">
    <app-radiosearch-highchart></app-radiosearch-highchart>
    <ng-container class="below-text" *ngIf="selectedSource$ | async as selectedSource; else noData">
      <ng-container *ngIf="averageFlux$ | async as averageFlux; else noFlux">
        The uploaded file used a frequency range of {{ lowerFreq || 'N/A' }} MHz to {{ upperFreq || 'N/A' }} MHz. 
        The expected flux for radio source 
        {{ (params[0].catalog + params[0].identifier) || 'Unknown Source' }} 
        in this frequency range is {{ averageFlux }} Jy.
      </ng-container>      
      <ng-template #noFlux>
        There is not enough data to guess the flux at the appropriate frequency for radio source {{ (params[0].catalog + params[0].identifier) || 'Unknown Source' }}!
      </ng-template>
    </ng-container>
    <ng-template #noData>
      Please upload a Radio Cartographer file!
    </ng-template>
    <div class="button-container">
      <button 
        (click)="fitsLoaded ? saveGraph() : noUpload()" 
        color="'primary'" 
        style="border-radius: 3px" 
        mat-raised-button>Save Graph</button>
    </div>
  </div>
</div>
