<div class="page-container">
  <!-- Left container wrapper -->
  <div class="left-container-wrapper" #fileDropZone (dragover)="onDragOver($event)">
    <!-- Upload Container -->
    <div class="left-container" *ngIf="!fitsLoaded">
      <div class="prompt-container">
        <div class="row drop-zone" clusterDragNDrop>
          <div (click)="fileInput.click()" class="click-zone">
            <h3 class="big-title">Drop to Upload</h3>
            <mat-icon class="big-icon">upload</mat-icon>
            <h6>or</h6>
            <h4>Click to Browse</h4>
          </div>
        </div>
      </div>
      <input #fileInput (change)="onFileSelected($event)" style="display: none" type="file">
    </div>

    <!-- Canvas Container with Coordinates and Download Button -->
    <div class="left-container">
      <canvas #fitsCanvas [ngStyle]="{'opacity': ra ? 1 : 0}" id="fitsCanvas"></canvas>

      <div class="ra-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="xOffset">X Offset: {{ xOffset }}</label>
        <input id="xOffset" type="range" min="-100" max="100" [(ngModel)]="xOffset" (input)="redrawCircles()">
      </div>

      <div class="dec-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="yOffset">Y Offset: {{ yOffset }}</label>
        <input id="yOffset" type="range" min="-100" max="100" [(ngModel)]="yOffset" (input)="redrawCircles()">
      </div>

      <div class="max-slider-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <label for="maxValue">Scale: {{ 200 * maxValue | number:'1.0-0' }}%</label>
        <input id="maxValue" type="range" min="0" max="1" step="0.05" [(ngModel)]="maxValue" (input)="updateFitsImage()">
      </div>

      <!-- Coordinates Display -->
      <div class="coordinates" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <span *ngIf="currentCoordinates">
          RA: {{currentCoordinates.ra.toFixed(2)}}, Dec: {{currentCoordinates.dec.toFixed(2)}}
        </span>
      </div>

      <!-- Download Button Display -->
      <div class="download-button-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <button (click)="downloadCanvas()">Download Canvas</button>
      </div>

      <div class="delete-button-container" [ngStyle]="{'opacity': ra ? 1 : 0}">
        <button (click)="deleteFITS()">Delete Image</button>
      </div>
    </div>
  </div>

  <!-- Right container for highchart -->
  <div class="right-container">
    <app-radiosearch-highchart></app-radiosearch-highchart>
    <p class="below-text" *ngIf="ra">
      The uploaded file used a frequency of {{ 1000 * targetFreq || 'N/A' }} Hz. The expected flux for radio source
      {{ results.threeC || 'Unknown source' }} at this frequency is {{ averageFlux || 'N/A' }} Jys.
    </p>    
  </div>
</div>
