.tool-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.tool-container {
  padding: 20px 100px 20px 100px;
  height: 100%;
  width: 100%;
}

button {
  font-size: large;
  margin: 5px 10px 5px 10px;
  padding: 5px 40px 5px 40px;
}

.prompt {
  font-size: large;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
