<mat-sidenav-container (backdropClick)="close()" class="tool-sidenav-container">
  <mat-sidenav #toolsnav (keydown.escape)="close()">
    <p class="tool-sidenav-p prompt">
      Select a Tool
    </p>
    <p class="tool-sidenav-p">
      <button (click)="close()" [routerLink]="['/curve']" i18n="curve" mat-button>Curve</button>
    </p>
    <p class="tool-sidenav-p">
      <button (click)="close()" [routerLink]="['/moon']" i18n="moon" mat-button>Moon</button>
    </p>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-menubar [navbar]="this"></app-menubar>
    <div class="tool-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
