.tool-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-nav-list {
  width: 200px;
}

.mat-list-item-content {
  text-align: center;
}


.prompt {
  font-size: large;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
