<form [formGroup]="formGroup">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [formControlName]="'chartTitle'">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Data</mat-label>
        <input matInput [formControlName]="'dataLabel'"
               placeholder="Labels for different curves are separated by comma.">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input matInput [formControlName]="'xAxisLabel'">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input matInput [formControlName]="'yAxisLabel'">
      </mat-form-field>
    </div>
  </div>
</form>

