@import "src/styles.scss";

.drop-zone {
  z-index: 0;
  height: 100%;
  width: 100%;
  border-width: 6px;
  border-style: dashed;
  opacity: 0.5;

  align-items: center;
  justify-content: center;
}

.fileOver {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


.click-zone {
  z-index: 1;
  border-style: solid;
  border-width: 4px;
  width: min-content !important;
  padding: 20px;
}

.click-zone:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.big-title {
  width: max-content;
  height: min-content;
}

.big-icon {
  font-size: 80px;
  width: min-content;
  height: min-content;
}

.prompt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.prompt {
  display: flex;
  z-index: 0;
  text-align: center;
  height: min-content;
  width: max-content;
  margin-top: 10px;
}

.LIGHT_THEME {
  :host .drop-zone {
    border-color: map_get($light-primary, 500);
    background-color: map_get($light-primary, 100);
  }

  :host .click-zone {
    border-color: map_get($light-primary, 500);
  }

  :host h5 {
    color: map_get($light-primary, 300);
  }

  :host a {
    color: map_get($light-primary, 400);
  }
}
