<div [ngClass]="'plot-container' + (isVertical ? ' plot-container-vertical' : '')
+ (plotConfig !== null ? ' plot-container-visible' : '')">
    <highcharts-chart (chartInstance)="chartInitialized($event)"
                      *ngIf="plotConfig !== null && chartEngine === 'highcharts'"
                      [(update)]="updateFlag"
                      [Highcharts]="Highcharts"
                      [constructorType]="chartConstructor"
                      [ngClass]="'plot' + (isVertical ? ' plot-vertical' : '')"
                      [options]="chartOptions">
    </highcharts-chart>
    <app-plot-echart
      *ngIf="plotConfig !== null && chartEngine === 'echarts'"
      [isVertical]="isVertical"
      [plotConfig]="plotConfig"
      [plotConfigIndex]="plotConfigIndex">
    </app-plot-echart>
    <div *ngIf="chartEngine === 'highcharts'"
         [ngClass]="'control-containers' + (isVertical ? '-vertical' : '')">
        <mat-button-toggle-group [value]="plotConfig?.plotFraming"
                                 [vertical]="!isVertical" aria-label="Data Framing Method">
            <mat-button-toggle (click)="standardView()" [disabled]="plotConfig?.plotType === ClusterPlotType.CM"
                               [value]="PlotFraming.STANDARD" class="toggle">
                Standard View
            </mat-button-toggle>
            <mat-button-toggle (click)="frameOnData()" [value]="PlotFraming.DATA" class="toggle">
                Frame on Data
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <!--    <div [ngClass]="'control-containers' + (isVertical ? '-vertical' : '')">-->
    <!--        <button [ngClass]="isVertical? 'button-vertical' : 'button-standard'" (click)="standardView()"-->
    <!--                color="primary" mat-raised-button>-->
    <!--            Standard View-->
    <!--        </button>-->
    <!--        <button [ngClass]="isVertical? 'button-vertical' : 'button-standard'" (click)="frameOnData()"-->
    <!--                color="primary" mat-raised-button>-->
    <!--            Frame on Data-->
    <!--        </button>-->
    <!--    </div>-->
</div>
