<div class="prompt-container">
  <div class="row drop-zone" dragNDrop (fileDrop)="onFileDrop($event)">
    <div (click)="fileInput.click()" class="click-zone">
      <h3 class="big-title">Drop to Upload</h3>
      <mat-icon class="big-icon">upload</mat-icon>
      <h6>or</h6>
      <h4>Click to Browse</h4>
    </div>
  </div>
  <div *ngIf="format !== undefined" class="row prompt">
    <h5>
      Supported Format:
      {{format}}
    </h5>
    <a *ngIf="sourceLink !== undefined" href="{{sourceLink}}" target="_blank">Find Data Here!</a>
  </div>
</div>

<input #fileInput (input)="onFileUpload($event)" style="display: none" type="file">
