mat-icon {
  margin-right: 5px;
}

mat-tab-group {
  height: calc(100% - 64px);
  box-shadow: none !important;
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  height: calc(100% - 64px);
  flex: min-content;
}

.my-full-stepper-container {
  width: 100vw;
  height: 100%;
  //overflow: scroll;
  margin: 0;
  padding: 0;
  display: block;
}

:host ::ng-deep .tool-container {
  margin: 0;
  height: 100% !important;
}

.tab-icon {
  margin-right: 8px;
}
