
mat-icon {
  margin-right: 5px;
}

mat-tab-group {
  height: calc(100% - 64px);
  box-shadow: none !important;
  -webkit-transition-property: none !important;
  -moz-transition-property: none !important;
  -o-transition-property: none !important;
  transition-property: none !important;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: calc(100% - 64px);
  flex: min-content;
}

@media screen and (max-width: 901px) {
  .pulsar-form-horizontal {
    display: none;
  }
  .pulsar-form-vertical {
    display: block;
  }
}

@media screen and (min-width: 901px) {
  .pulsar-form-horizontal {
    display: block;
  }
  .pulsar-form-vertical {
    display: none;
  }
}


