<div class="summary-container">
  <mat-card class="summary-card">
    <mat-card-header>
      <mat-card-subtitle>{{data.source}}</mat-card-subtitle>
      <mat-card-title>Source Data Overview</mat-card-title>
    </mat-card-header>

    <mat-card-content [hidden]="isSummaryHidden">
      <div class="row">
        <div class="col-6">
          <mat-form-field>
            <mat-label>Cluster Name</mat-label>
            <input [(ngModel)]="clusterName" matInput type="text">
            <button (click)="clusterName=''" *ngIf="clusterName" aria-label="Clear" mat-icon-button matSuffix>
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col-6">
          <p>
            <strong>Filters</strong>: {{data.filters.join(", ")}}
            <br>
            <strong>Number of Stars</strong>: {{data.starCounts}}
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content [hidden]="isLoadHidden">
      <div class="in-progress-container">
        <h4><i>Gaia Matching In Progress</i></h4>
      </div>
    </mat-card-content>
    <mat-card-footer [hidden]="isLoadHidden">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>

    <mat-card-content [hidden]="isCompleteHidden">
      <h2>Gaia Solutions Found: {{gaiaStarCount}}/{{totalStarCount}}.</h2>
    </mat-card-content>

    <mat-card-content [hidden]="isFailedHidden">
      <h3>Gaia Matching Failed!</h3>
      <p><strong>Errors:</strong></p>
      <p>Server being sus</p>
    </mat-card-content>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button (click)="next()" [disabled]="clusterName === ''" mat-button>Next</button>
    </mat-card-actions>
  </mat-card>
</div>
