.result-graphics-container {
  display: flex;
  height: min-content;
  width: 100%;
  flex-direction: column;
}

.graphic-row {
  display: flex;
  width: 100%;
  height: min-content;
  flex-direction: row;
  margin-bottom: 20px;
}

.result-graphics-container .graphic-row:last-child {
  margin-bottom: 0;
}

.result-graphic {
  display: block;
  height: min-content;
  padding: 20px;
  //border-style: dashed;
}

.one-third {
  width: 33.3%;
}

.half {
  width: 50%;
}

.individual-graphic {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;

  .chart-container {
    display: flex;
    width: 100%;
    //border-style: solid;
    //border-color: red;
  }

  .one-to-one {
    aspect-ratio: 1;
  }

  .one-to-two {
    aspect-ratio: 2/1;
  }

  .chart-control {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: min-content;
    justify-content: center;
    align-items: baseline;
  }
}

