<div class="container h-100 top-20px">
  <div class="row h-100">
    <div class="col-4">
      <div class="row h-80" title="Data Ctrl/Table">
        <div class="container h-80">
          <ng-template (chartUserActionObs$)="onChartUserAction($event)" (tableUserActionObs$)="onTableUserAction($event)"
                       DataControl
                       [controlType]="dataControlType"></ng-template>
          <ng-template (tableUserActionObs$)="onTableUserAction($event)" DataTable [tableArgs]="defaultTableArgs"
                       [tableType]="tableType" [tableUpdateObs$]="tableUpdateObs$"></ng-template>
        </div>
      </div>
      <div class="row" title="Data Buttons">
        <ng-template (tableUserActionObs$)="onTableUserAction($event)" DataButton
                     [tableButtonType]="dataButtonType"></ng-template>
      </div>
    </div>
    <div class="col-8 h-100">
      <div class="row h-65" title="Graph">
        <ng-template Graph [chartType]="chartType" [chartUpdateObs$]="chartUpdateObs$"></ng-template>
      </div>
      <div class="row h-15" title="Graph Info">
        <ng-template (chartUserActionObs$)="onChartUserAction($event)" GraphInfo [defaultChartInfo]="defaultChartInfo"
                     [graphInfoType]="graphInfoType"></ng-template>
      </div>
      <div class="row" title="Graph Buttons">
        <ng-template (chartUserActionObs$)="onChartUserAction($event)" GraphButton
                     [graphButtonType]="graphButtonType"></ng-template>
      </div>
    </div>
  </div>
</div>
