<div class="container h-100 top-20px">
  <div class="row h-100">
    <div class="col-4">
      <div class="row h-80" title="Data Ctrl/Table">
        <div class="container h-80">
          <ng-template DataControl [controlType]="dataControlType" (tableObs$)="tableObs($event)"></ng-template>
          <ng-template DataTable [tableArgs]="defaultTableArgs" [tableColObserver$]="tableColObserver$"
                       [tableType]="tableType"></ng-template>
        </div>
      </div>
      <div class="row" title="Data Buttons">1</div>
    </div>
    <div class="col-8 h-100">
      <div class="row h-65" title="Graph">1</div>
      <div class="row h-15" title="Graph Info">
        <ng-template graph-info></ng-template>
      </div>
      <div class="row" title="Graph Buttons">1</div>
    </div>
  </div>
</div>
