<div class="form-pop-container">
  <form [formGroup]="formGroup">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input [formControlName]="'chartTitle'" matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Data</mat-label>
          <input [formControlName]="'dataLabel'" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>X Axis</mat-label>
          <input [formControlName]="'xAxisLabel'" matInput>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Y Axis</mat-label>
          <input [formControlName]="'yAxisLabel'" matInput>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="button-container">
    <button mat-raised-button [mat-dialog-close]="'OK'">OK</button>
    <button mat-raised-button [color]="'warn'" (click)="resetLabels()">Reset Graph Labels</button>
    <button mat-raised-button [color]="'primary'" [mat-dialog-close]="'saveGraph'">Save Graph</button>
  </div>
</div>
