<div class="row tool-container">
  <div class="row histogram-row">
    <div class="col-4 histogram-col">
      <app-histogram-slider-input style="height: 100%"></app-histogram-slider-input>
    </div>
    <div class="col-4 histogram-col">
      <h1>pmra histogram</h1>
    </div>
    <div class="col-4 histogram-col">
      <h1>pmdec histogram</h1>
    </div>
  </div>
  <div class="row others-row">
    <div class="col-4">
      <h1>2d pm plot</h1>
    </div>
    <div class="col-4">
      <h1>CMD</h1>
    </div>
    <div class="col-4">
      <h1>pie chart</h1>
    </div>
  </div>
</div>
