<div class="row tool-container">
  <div class="row histogram-row">
    <div class="col-4 histogram-col">
      <app-histogram-slider-input
        ($OnInit)="pmraInit()"
        ($bin)="pmraBinsHandler($event)"
        ($histogramRange)="pmraHistogramRangeHandler($event)"
        ($range)="pmraRangeHandler($event)"
        [$data]="$pmra"
        [shortTitle]="'pm RA'"
        [title]="'Proper Motion RA'"
        [unit]="'mas/yr'"
      ></app-histogram-slider-input>
    </div>
    <div class="col-4 histogram-col">
      <app-pm-chart></app-pm-chart>
    </div>
    <div class="col-4 histogram-col">
      <app-histogram-slider-input
        ($OnInit)="pmdecInit()"
        ($bin)="pmdecBinsHandler($event)"
        ($histogramRange)="pmdecHistogramRangeHandler($event)"
        ($range)="pmdecRangeHandler($event)"
        [$data]="$pmdec"
        [shortTitle]="'pm DEC'"
        [title]="'Proper Motion DEC'"
        [unit]="'mas/yr'"
      ></app-histogram-slider-input>
    </div>
  </div>
  <div class="row histogram-row">
    <div class="col-4 histogram-col">
      <app-cmd-fsr></app-cmd-fsr>
    </div>
    <div class="col-4 histogram-col">
      <app-histogram-slider-input
        ($OnInit)="distanceInit()"
        ($bin)="distanceBinsHandler($event)"
        ($histogramRange)="distanceHistogramRangeHandler($event)"
        ($range)="distanceRangeHandler($event)"
        [$data]="$distance"
        [title]="'Distance'"
        [unit]="'kiloparsec'"
      ></app-histogram-slider-input>
    </div>
    <div class="col-4 histogram-col">
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>
