.chart-container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

//:host ::ng-deep .highcharts-color-0 {
//  fill: var(--highcharts-background-color);
//}
//
//:host ::ng-deep .highcharts-color-1 {
//  fill: var(--highcharts-background-color);
//}
