<form [formGroup]="formGroup" class="pulsar-form-horizontal">
  <div class="row">
    <div class="col-12">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControlName]="'chartTitle'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input [formControlName]="'xAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input [formControlName]="'yAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label i18n>Period Shown</mat-label>
        <mat-select [formControlName]="'displayPeriod'">
          <mat-option *ngFor="let period of displayPeriods" [value]="period">
            {{period}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="calFile; else fixedSlider">
        <my-input-slider (value)="onChange($event)" [defaultValue]="periodMax"
                        [inputPrecision]="4"
                        [isLog]="false" [label]="'Period (sec)'"
                        [maxValue]="200" [minValue]="0.001" [name]="'period'"
                        [stepValue]="0.001" [step]="0.001" [value$]="periodSubject">
        </my-input-slider>
      </ng-container>
      <ng-template #fixedSlider>
        <my-input-slider (value)="onChange($event)" [defaultValue]="periodMax"
                        [inputPrecision]="4" [label]="'Period (sec)'"
                        [maxValue]="periodMax" [minValue]="periodMax" [name]="'period'"
                        [stepValue]="periodStep" [step]="periodStep" [value$]="periodSubject">
        </my-input-slider>        
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <my-input-slider (value)="onChange($event)" [defaultValue]="0"
                       [label]="'Phase (cycles)'" [maxValue]="1"
                       [minValue]="0"
                       [name]="'phase'" [value$]="phaseSubject">
      </my-input-slider>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="calFile; else speedSlider">
      <div class="col-6">
        <mat-form-field>
          <mat-label>Calibration</mat-label>
          <input matInput [formControlName]="'cal'" type="number" step="0.01" min="0.5" max="2">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field>
          <mat-label>Speed</mat-label>
          <input matInput [formControlName]="'speed'" type="number" step="0.01" min="0.01" max="5">
        </mat-form-field>
      </div>      
    </ng-container>
    <ng-template #speedSlider>
      <div class="col-12">
        <my-input-slider (value)="onChange($event)"
                        [defaultValue]="0"
                        [label]="'Speed'"
                        [maxValue]="2"
                        [minValue]="0.01"
                        [name]="'speed'"
                        [value$]="speedSubject">
        </my-input-slider>
      </div>
    </ng-template>
  </div>
  <div class="row" style="padding-bottom: 5%">
    <div class="col-12">
      <button (click)="sonificationBrowser()" mat-raised-button>
        {{ isPlaying ? 'Stop' : 'Sonify' }}
      </button>      
    </div>
  </div>
  <div class="row" style="padding-bottom: 5%">
    <div class="col-6">
      <button (click)="sonification()" mat-raised-button style="white-space: nowrap;">Save Sonify</button>
    </div>
    <div class="col-6">
      <button (click)="saveGraph()" mat-raised-button>Save Graph</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="resetPulsar()" mat-raised-button>Reset Pulsar!</button>
    </div>
  </div>
</form>
<form [formGroup]="formGroup" class="pulsar-form-vertical">
  <div class="row">
    <div class="col-6">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input [formControlName]="'chartTitle'" matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <input [formControlName]="'xAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <input [formControlName]="'yAxisLabel'" matInput>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field>
        <mat-label i18n>Period Shown</mat-label>
        <mat-select [formControlName]="'displayPeriod'">
          <mat-option *ngFor="let period of displayPeriods" [value]="period">
            {{period}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <ng-container *ngIf="calFile; else fixedSlider">
        <my-input-slider (value)="onChange($event)" [defaultValue]="periodMax"
                        [inputPrecision]="4"
                        [isLog]="false" [label]="'Period (sec)'"
                        [maxValue]="periodMax" [minValue]="0.001" [name]="'period'"
                        [stepValue]="periodStep" [step]="periodStep" [value$]="periodSubject">
        </my-input-slider>
      </ng-container>
      <ng-template #fixedSlider>
        <my-input-slider (value)="onChange($event)" [defaultValue]="periodMax"
                        [inputPrecision]="4"
                        [isLog]="false" [label]="'Period (sec)'"
                        [maxValue]="periodMax" [minValue]="periodMax" [name]="'period'"
                        [stepValue]="periodStep" [step]="periodStep" [value$]="periodSubject">
        </my-input-slider>        
      </ng-template>
    </div>
    <div class="col-6">
      <my-input-slider (value)="onChange($event)" [defaultValue]="0"
                       [label]="'Phase (cycles)'" [maxValue]="1"
                       [minValue]="0"
                       [name]="'phase'" [value$]="phaseSubject">
      </my-input-slider>
    </div>
    <div class="row">
      <div class="col-12">
        <ng-container *ngIf="calFile; else speedSlider">
          <my-input-slider (value)="onChange($event)"
                           [defaultValue]="0"
                           [label]="'Calibration'"
                           [maxValue]="2"
                           [minValue]="0.5"
                           [name]="'calibration'"
                           [value$]="calSubject">
          </my-input-slider>
        </ng-container>
        <ng-template #speedSlider>
          <my-input-slider (value)="onChange($event)"
                           [defaultValue]="0"
                           [label]="'Speed'"
                           [maxValue]="2"
                           [minValue]="0.01"
                           [name]="'speed'"
                           [value$]="speedSubject">
          </my-input-slider>
        </ng-template>
      </div>
    </div>    
  </div>
  <div class="row" style="padding-bottom: 5%">
    <div class="col-12">
      <button (click)="sonificationBrowser()" mat-raised-button>
        {{ isPlaying ? 'Stop' : 'Sonify' }}
      </button>      
    </div>
  </div>
  <div class="row" style="padding-bottom: 5%">
    <div class="col-6">
      <button (click)="sonification()" mat-raised-button style="white-space: nowrap;">Save Sonify</button>
    </div>
    <div class="col-6">
      <button (click)="saveGraph()" mat-raised-button>Save Graph</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button (click)="resetPulsar()" mat-raised-button>Reset Pulsar!</button>
    </div>
  </div>
</form>
