.home-container {
  padding: 20px;
  width: 100%;
}

h1, h2 {
  text-align: center;
}

.card {
  height: 100%;
  width: 100%;
}

.tile-container {
  display: inline-block;
  height: 600px;
  width: 450px;
  padding: 20px;
  margin: 0 calc((33% - 450px) / 2);
}

@media screen and (max-width: 1350px) {
  .tile-container {
    margin: 0 calc((50% - 450px) / 2);
  }
}

@media screen and (max-width: 900px) {
  .tile-container {
    margin: 0 calc((100% - 450px) / 2);
  }
}

.tile-container:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.tile {
  height: 100%;
  display: flex;
  overflow: clip;
}

.chart-preview {
  width: 100%;
  height: 400px;
  pointer-events: none;
}

.center-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default !important;
}

.thumbnail {
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin: 10px 0;
}
