<div class="period-folding-container">
  <!-- Left Panel -->
  <div class="controls-panel">
    <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input type="text" [(ngModel)]="chartTitle" (ngModelChange)="onFieldChange('title', $event)" placeholder="My Period Folding" matInput>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-12">
        <mat-form-field>
          <mat-label>Data</mat-label>
          <input type="text" [(ngModel)]="dataLabel" (ngModelChange)="onFieldChange('data', $event)" placeholder="My Period Folding" matInput>
        </mat-form-field>
      </div>
    </div> -->
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-label>X Axis</mat-label>
          <input type="text" [(ngModel)]="xAxisLabel" (ngModelChange)="onFieldChange('xAxis', $event)" placeholder="My Period Folding" matInput>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label>Y Axis</mat-label>
          <input type="text" [(ngModel)]="yAxisLabel" (ngModelChange)="onFieldChange('yAxis', $event)" placeholder="My Period Folding" matInput>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field>
          <mat-label i18n>Periods</mat-label>
          <mat-select [(ngModel)]="periodNum" (selectionChange)="onMeasurementChange()">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
          </mat-select>
        </mat-form-field>        
      </div>    
    </div>    
  <div class="row">
    <div class="col-12">
      <my-input-slider (value)="onChange($event)" [defaultValue]="periodMax"
                       [inputPrecision]="4"
                       [isLog]="true" [label]="'Period (sec)'"
                       [maxValue]="periodMax" [minValue]="periodMin" [name]="'period'"
                       [stepValue]="periodStep" [step]="periodStep">
      </my-input-slider>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <my-input-slider (value)="onChange($event)" [defaultValue]="0"
                       [label]="'Phase (cycles)'" [maxValue]="1"
                       [minValue]="0"
                       [name]="'phase'">
      </my-input-slider>
    </div>
  </div>    
    <div class="row centered-buttons">
      <button (click)="saveGraph()" mat-raised-button>Save Graph</button>
      <button (click)="resetForm()" mat-raised-button>Reset Form</button>
    </div>


    <!-- File Upload Button -->
    <div class="control-item">
      <label for="fileUpload" class="custom-file-upload">
        Upload TXT File
      </label>
      <input id="fileUpload" type="file" accept=".txt" (change)="onFileSelected($event)" />
    </div>
  </div>

  <!-- Right Panel -->
  <div class="chart-panel">
    <app-pulsar-period-folding-highcharts></app-pulsar-period-folding-highcharts>
  </div>
</div>
