<div class="cluster-data-source-pop-up">
  <mat-card class="cluster-data-source-pop-ups-card">
    <mat-card-header>
      <mat-card-subtitle *ngIf="data.name">{{data.name}}</mat-card-subtitle>
      <mat-card-title>Catalogue Fetching Preview</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="fetchData.length === 0">
      <form [formGroup]="formGroup">
        <div *ngIf="!data.name" class="row">
          <div class="col-12">
            <mat-form-field>
              <mat-label>Cluster Name</mat-label>
              <input [formControlName]="'name'" matInput>
              <mat-error *ngIf="this.formGroup.controls['name'].hasError('required')">
                Name your cluster!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Right Ascension (deg)</mat-label>
              <input [formControlName]="'ra'" matInput type="number">
              <mat-error *ngIf="this.formGroup.controls['ra'].hasError('min') ||
                  this.formGroup.controls['ra'].hasError('max')">
                Must be between 0 and 360.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Declination (deg)</mat-label>
              <input [formControlName]="'dec'" matInput type="number">
              <mat-error *ngIf="this.formGroup.controls['dec'].hasError('min') ||
                  this.formGroup.controls['dec'].hasError('max')">
                Must be between -90 and 90.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <mat-label>Radius (deg)</mat-label>
              <input [formControlName]="'radius'" matInput type="number">
              <mat-error *ngIf="this.formGroup.controls['radius'].hasError('min')">
                Must be greater than 0.
              </mat-error>
              <mat-error *ngIf="this.formGroup.controls['radius'].hasError('max')">
                Must be smaller than 3.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>Catalogues</mat-label>
              <mat-select [formControlName]="'catalog'">
                <mat-option *ngFor="let catalog of catalogs" [value]="catalog">
                  {{catalog === Catalogs.TWOMASS ? '2MASS' : catalog}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card-content>

    <mat-card-content *ngIf="fetchData.length > 0">
      <div class="row">
        <div class="col-6">
          <p>
            <strong>Cluster</strong>: {{formGroup.controls['name'].value}}
            <br>
            <strong>Radius</strong>: {{formGroup.controls['radius'].value}}
          </p>
        </div>
        <div class="col-6">
          <p>
            <strong>Number of Stars</strong>: {{fetchData.length}}
            <br>
            <strong>Filters</strong>: {{filters.join(', ')}}
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <div *ngIf="status === 400" class="fetch-prompt">
      Too many stars! Reduce Radius and try again.
    </div>
    <div *ngIf="status === 404" class="fetch-prompt">
      There's no cluster around the given coordinates.
    </div>
    <div *ngIf="status === 200" class="fetch-prompt">
      {{testStarCount}} star were found! Max limit is {{testLimit}} stars.
    </div>


    <mat-card-actions>
      <button (click)="cancel()" mat-button mat-dialog-close>Cancel</button>
      <button (click)="testRadius()"
              [disabled]="loading"
              [hidden]="fetchData.length > 0"
              mat-button>Test Radius
      </button>
      <button (click)="fetchCatalog()"
              [disabled]="!readyForNext||loading"
              color="accent"
              mat-button>Next
      </button>
    </mat-card-actions>

    <mat-progress-bar [hidden]="!loading" mode="query"></mat-progress-bar>
  </mat-card>
</div>
