<div class="container h-100 top-20px">
  <div class="row h-100">
    <div class="col-4">
      <div class="row h-80" title="Data Ctrl/Table">
        <div class="container h-80">
          <ng-template (chartUserActionObs$)="onChartUserAction($event)" (tableUserActionObs$)="onTableUserAction($event)"
                       [controlType]="dataControlType"
                       data-control-directive
          ></ng-template>
          <ng-template (tableUserActionObs$)="onTableUserAction($event)" [tableArgs]="defaultTableArgs"
                       [tableType]="tableType"
                       [tableUpdateObs$]="tableUpdateObs$" data-table-directive></ng-template>
        </div>
      </div>
      <div class="row" title="Data Buttons">
        <ng-template (tableUserActionObs$)="onTableUserAction($event)" [tableButtonType]="dataButtonType"
                     data-button-directive></ng-template>
      </div>
    </div>
    <div class="col-8 h-100">
      <div class="row h-65" title="Graph">
        <ng-template [chartType]="chartType" [chartUpdateObs$]="chartUpdateObs$" chart-directive></ng-template>
      </div>
      <div class="row h-15" title="Graph Info">
        <ng-template (chartUserActionObs$)="onChartUserAction($event)" [defaultChartInfo]="defaultChartInfo" [graphInfoType]="graphInfoType"
                     graph-info-directive></ng-template>
      </div>
      <div class="row" title="Graph Buttons">
        <ng-template (chartUserActionObs$)="onChartUserAction($event)" [graphButtonType]="graphButtonType"
                     graph-button-directive></ng-template>
      </div>
    </div>
  </div>
</div>
