<div class="container">
  <hot-table #table
             [afterChange]="onChange"
             [allowInsertColumn]="false"
             [allowInsertRow]="true"
             [beforeRemoveRow]="onRemove"
             [colHeaders]="colNames"
             [contextMenu]="[
                'undo',
                'redo',
                'copy',
                '---------',
                'remove_row']"
             [data]="dataSet"
             [hiddenColumns]="true"
             [hotId]="id"
             [preventOverflow]="'horizontal'"
             [renderAllRows]="false"
             [rowHeaders]="true"
             [stretchH]="'all'"
             [type]="'numeric'"
             licenseKey="non-commercial-and-evaluation">
  </hot-table>
</div>
