/* For use in src/lib/core/theming/_palette.scss */
$md-indigodye: (
  50 : #e6e8ec,
  100 : #bfc6d0,
  200 : #95a0b1,
  300 : #6b7a91,
  400 : #4b5e7a,
  500 : #2b4162,
  600 : #263b5a,
  700 : #203250,
  800 : #1a2a46,
  900 : #101c34,
  A100 : #729cff,
  A200 : #3f79ff,
  A400 : #0c55ff,
  A700 : #0048f1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-paynesgray: (
  50 : #e7ecee,
  100 : #c3cfd4,
  200 : #9cafb8,
  300 : #748f9c,
  400 : #567786,
  500 : #385f71,
  600 : #325769,
  700 : #2b4d5e,
  800 : #244354,
  900 : #173242,
  A100 : #81cdff,
  A200 : #4eb9ff,
  A400 : #1ba5ff,
  A700 : #029bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-magnolia: (
  50 : #fefdfe,
  100 : #fcfbfc,
  200 : #faf8fb,
  300 : #f8f5f9,
  400 : #f7f2f7,
  500 : #f5f0f6,
  600 : #f4eef5,
  700 : #f2ecf3,
  800 : #f0e9f2,
  900 : #eee5ef,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-mint: (
  50 : #ebf9f4,
  100 : #cdefe4,
  200 : #ace4d2,
  300 : #8bd9c0,
  400 : #72d1b3,
  500 : #59c9a5,
  600 : #51c39d,
  700 : #48bc93,
  800 : #3eb58a,
  900 : #2ea979,
  A100 : #edfff8,
  A200 : #baffe3,
  A400 : #87ffce,
  A700 : #6effc3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-fireenginered: (
  50 : #f8e5e6,
  100 : #ecbfc0,
  200 : #e09497,
  300 : #d4696d,
  400 : #ca494d,
  500 : #c1292e,
  600 : #bb2429,
  700 : #b31f23,
  800 : #ab191d,
  900 : #9e0f12,
  A100 : #ffcece,
  A200 : #ff9b9c,
  A400 : #ff686a,
  A700 : #ff4e51,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

