<div class="container">
  <form [formGroup]="formGroup" class="row">
    <div  class="col-6">
      <mat-form-field>
        <mat-label>Background Scale</mat-label>
        <input [formControlName]="'backScale'" [step]="0.1" matInput type="number">
        <mat-error>Background Scale is required</mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field>
        <mat-label>Table Type</mat-label>
        <mat-select formControlName="dataOptions">
          <mat-option *ngFor="let item of dataOptions" [value]="item.value">
            {{ item.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
