<app-standard-layout #stdLayout
                     (tableUserActionObs$)="tableObs($event)"
                     (chartUserActionObs$)="chartObs($event)"
                     [dataControlType]="dataControlType"
                     [dataButtonType]="dataButtonType"
                     [defaultTableArgs]="defaultArgs()"
                     [graphInfoType]="graphInfoType"
                     [tableUpdateObs$]="tableUpdateObserver$"
                     [chartUpdateObs$]="chartUpdateObserver$"
                     [tableType]="tableType"
                     [chartType]="chartType"
></app-standard-layout>
