<app-standard-layout #stdLayout
                     (tableUserActionObs$)="onTableUserObs($event)"
                     (chartUserActionObs$)="onChartUserObs($event)"
                     [dataControlType]="dataControlType"
                     [dataButtonType]="dataButtonType"
                     [defaultTableArgs]="defaultArgs()"
                     [graphInfoType]="graphInfoType"
                     [defaultChartInfo]="defaultChartInfo"
                     [tableUpdateObs$]="tableUpdateObserver$"
                     [chartUpdateObs$]="chartUpdateObserver$"
                     [tableType]="tableType"
                     [chartType]="chartType"
></app-standard-layout>
